@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    padding:0%;
    margin: 0%;
}

body{
    display: flex;
}
main{
    max-width: 100vh;
}
aside{
    height: 128vh;
    background-color: rgb(25, 146, 212);
    color: white;
    padding: 10px;
}

i{
    margin: 10px;
}
.complete{
    width: 30px;
}
.flex{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.flex>p{
    margin: 5px;
}
.navpart{
    margin: 30px;
}
.nav{
    box-shadow: -2px 0px 64px 30px rgba(0,0,0,0.13);
    height: 17vh;
    width: 83vw;
    padding-bottom: 20px;
    font-size: 12px;
}
img{
    width: 50px;
    margin: 10px;
}
input{
    width: 600px;
    border-radius: 50px;
    border: none;
    background-color: rgb(236, 236, 236);
    color: black;
    height: 30px;
    margin-left: 20px;
}
.second>h1 , .profileandname>h1{
    font-size: 12px;
}
.searchandstuff{
    justify-content: space-around;
    width: 80vw;
}
.grid{
    background-color: rgb(240, 235, 235);
    font-size: 15px;
    width: 83.5vw;
    height: 110vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr); 
    grid-column-gap: 10px;
    grid-row-gap: 70px;
}
.round{
    border-radius: 50%;
    width: 50px;
}
.heing{
    margin: 20px;
    margin-bottom: 0px;
}
.project{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}
.project{
    margin: 10px;
    border-left: 5px solid orange;
}
.project h1 , .project p{
    max-width: 300px;
}
.project h1{
    font-size: 15px;
}
.project p{
    margin: 17.8px;
}
.trend{
    justify-content: space-evenly;
}
.trend img{
    width: 35px;
}
.trend h1{
    font-size: 15px;
}
.annoucment h1{
    font-size: 14px;
    margin: 10px;
}
.annoucment p{
    font-size: 10px;
    margin: 10px;
}
.annoucment{
    padding: 2px;
    border-bottom: 1px solid grey;
}
.pheading{
    font-size: 20px;
    margin-left: 17.8px;
    margin-top: 10px;
}
.heading{
    font-size: 20px;
    margin: 10px;
}
.icons{
    justify-content: end;
}
.articles { 
    grid-area: 1 / 1 / 8 / 6;
}
.annoucements{ 
    grid-area: 4 / 6 / 8 / 8;
}
.aha{
    background-color: white;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
}
.trending{
    margin: 15px;
    grid-area: 1 / 6 / 4 / 8;
}
.yes{ 
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.fa-bell{
    width: 20px;
    margin: 10px    ;
}
.girdarticles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
.annoucement >p , .annoucment >h1{
    max-width: 300px;
}
.anotherone{
    justify-content: space-around;
    align-items: center;
    margin: -10px;
}
.buttons button{
    background-color: rgb(0, 132, 255);
    color: white;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
}
.fakenav{
    position: relative;
    left: -8%;
}